*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(79, 79, 79);
}
#counterApp{
  background-color: rgb(38, 38, 38);
  text-align: center;
  padding: 5%;
  border-radius: 10px;
  color: aliceblue;
}
#counterApp h1{
    margin: 10px;
    padding: 10px;
}
button{
    padding: 15px;
    margin: 15px;
}
#count{
    font-size: 25px;
    font-weight: 800;
}